In [1]:
import numpy as np
import pandas as pd
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

import string as st
import nltk
from nltk.corpus import stopwords
from collections import Counter
import re

In [19]:
title = 'â€˜Age of Empiresâ€™: How 2 Dynasties of Art Forged Chinaâ€™s Identity - The New York Times'
author = 'Holland Cotter'
text = 'No one does epic better than the Metropolitan Museum of Art'

In [20]:
author_title = author + ' ' + title

In [21]:
author_title = author_title.lower()

In [22]:
author_title

'holland cotter â€˜age of empiresâ€™: how 2 dynasties of art forged chinaâ€™s identity - the new york times'

In [23]:
author_title = "".join([ch for ch in author_title if ch not in st.punctuation])

In [24]:
author_title

'holland cotter â€˜age of empiresâ€™ how 2 dynasties of art forged chinaâ€™s identity  the new york times'

In [25]:
stop_words = stopwords.words('english')
stopwords_dict = Counter(stop_words)

In [26]:
author_title = [word for word in author_title.split() if word not in stopwords_dict]

In [27]:
author_title

['holland',
 'cotter',
 'â€˜age',
 'empiresâ€™',
 '2',
 'dynasties',
 'art',
 'forged',
 'chinaâ€™s',
 'identity',
 'new',
 'york',
 'times']

In [28]:
author_title_clean = ' '.join([str(word) for word in author_title])

In [29]:
author_title_clean

'holland cotter â€˜age empiresâ€™ 2 dynasties art forged chinaâ€™s identity new york times'

In [30]:
pickle_in_model = open("final_model.pkl","rb")
final_model=pickle.load(pickle_in_model)

In [31]:
pickle_in_vctr = open("count_vectorizer.pkl","rb")
tfidf_vectorizer=pickle.load(pickle_in_vctr)

In [32]:
text_list = [author_title_clean]
text_list

['holland cotter â€˜age empiresâ€™ 2 dynasties art forged chinaâ€™s identity new york times']

In [33]:
text_tfidf = tfidf_vectorizer.transform(text_list)

In [34]:
text_tfidf

<1x130271 sparse matrix of type '<class 'numpy.int64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [35]:
final_model.predict(text_tfidf)

array([0], dtype=int64)